@import "tailwindcss";

:root {
    --topbar-color: #181C2C; /* Example topbar color */
    --background-color: #2A314D; /* Lighter accent of the topbar color */
}

body {
    background-color: var(--background-color);
}